*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background: url(Rectangle.png), lightgray 50% / cover no-repeat;
}

.main-page {
  display: flex;
  flex-direction: column;
  padding: 33px;
  width: 100%;
}

.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 0px 32px 32px 0px;
  background: #292929;
  width: 288px;
  height: 100%;
  flex-shrink: 0;
  color: var(--cultured-grey, #F7F9F9);
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 5px;
  cursor: pointer;
}

.main-content {
  padding: 20px;
  width: 100%;
}

.heading{
  color: var(--cultured-grey, #F7F9F9);
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  margin-bottom: 22px;
}

.cards-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  column-gap: 12px;
  row-gap: 29px;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  padding: 32px;
  width: 279px;
  height: 188px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #390554;
  border: none;
}

.top-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-bar{
  width: 435px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #FFF;
  background: linear-gradient(132deg, rgba(124, 15, 53, 0.20) 0%, rgba(88, 18, 102, 0.20) 100%);
  margin-left: 65px;
  color: white;
}

input[type="text"]::placeholder {
  background: transparent url(Vector.svg) no-repeat end;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 20px;
}

.btn{
  width: 156px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(131deg, #7C0F35 0%, #581266 100%);
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}

.link-page{
  text-decoration: none;
}
